.editor-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.lineas-textarea {
  background-color: #131313;
  color: white;
  flex: 0 0 auto;
  width: 60px;
  resize: none;
}

.lineas-textarea:focus {
  outline: none;
  box-shadow: none;
}

.texto-textarea {
  background-color: #131313;
  color: white;
  flex: 1 1 auto;
  width: 100%;
  /* resize: vertical; */
  resize: none;
}

.texto-textarea:focus {
  outline: none;
  box-shadow: none;
}

.lineas-textarea::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
