.MngObject {
  padding: 20px;
}

.header {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "icon title";
  align-items: center;
}

.header button {
  height: 100%;
}

.header button:active {
 transform: scale(0.5);
}

.header-title {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  grid-area: title;
}

.header-title h1 {
  margin-right: 50px;
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

.json-style {
  overflow: auto;
  background-color: #313744;
  color: #a6c3d4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 24px 12px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 4px 0 2px rgba(0, 0, 0, 0.1);
}
