.style-text {
  overflow: auto;
  background-color: #313744;
  color: #a6c3d4;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 24px 12px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 4px 0 2px rgba(0, 0, 0, 0.1);
}

.input {
  background-color: transparent;
  border: none;
}

.input:focus {
  outline: none;
  box-shadow: none;
}

pre em:not(.llave) {
  font-style: normal;
}
.llave {
  color: #61a6e0;
}
.corchete {
  color: #c66c75;
}

.key {
  color: #c9aa88ff;
}
.value {
  color: #2ed147ff;
}
